:root{
    --blue: #6495ED;
    --light-peach: #d57c73;
    --clear-peach: #F5B7B1;
    --light-yellow: #F7DC6F;
    --dark: #17202A;
}


/* = = = Css reset = = = */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

  /* = = = Html style = = = */

html, body{
    background-color: #6495ED;
    color: #000;
}

/*  = = = Header style = = =   */

header{
    position: fixed;
    background-color: #232322;
    padding-bottom: 3rem;
    width: 100%;
    display: inline-block;
}

header .logo-img{        /*  = = = This style is disabled = = = */
    display: inline-block;
    margin-top: 1.3rem;
}

header .logo-img-2{
    position: absolute;
    left: 3rem;
    bottom: 1rem;
}

/* = = = Profile content style = = = */

header div{
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100vh;
    transform: translateX(-24rem);
    transition: 1s;
    z-index: 5;
    background-color: #232322;
    color: #ffffff;
}
figcaption h2{
    font-size: 1.5rem;
    font-family: 'Dancing Script';
}

figcaption h3, h4{
    font-size: 1.1rem;
    font-family: 'Source Code Pro';
}

figure.profile-img{
    font-size: 1.5rem;
    border-bottom: 1px solid;
}

figcaption{
    margin: 2rem;
    line-height: 3rem;
}

.menu-profile{
    transform: translateX(0); /*  = = = menu active-profile style with js function = = =  */
}

header .profile-img{
    text-align: center;
    margin: 3rem;
}

header .fa-times{
    position: absolute;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

header .fa-times:hover{
    transform: scale(1.2);
}

header .fa-user{
    font-size: 1.5rem;
    color: #6495ED;
    position: absolute;
    left: 2rem;
    margin-top: 1.9rem;
    cursor: pointer;
}

span#btn{       /*  = = = Nav bar open menu icons style = = =  */
    color: #8d8888;
    font-size: 2rem;
    z-index: 1;
    right: 2rem;
    cursor: pointer;
    position: absolute;
    margin-top: 1.5rem;
}

/*  = = = navigation bar style = = =  */

nav{
    position: fixed;
    background-color: #17202A;
    top: 0;
    right: 0;
    width: 18.6rem;
    height: 100vh;
    transform: translateX(18.2rem);
    transition: 1s;
    opacity: 0.9;
    z-index: 2;
}

.menu-active{
     transform: translateX(0); /*  = = = menu active style with js function = = =  */
}

nav .fa-times{
    margin: 1.6rem;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

nav:hover{
    background-color: #17202A; /* = = = navbar hover background color = = = */
    opacity: 1;
    color: white;
}

nav ul a{
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav ul li{
    padding: 1.5rem;
    list-style-type: none;
    font-size: 1.2rem;
    display: block;
}

nav ul i{
    font-size: 1.2rem;
    color: var(--blue);
}

nav .fa-times{      /* = = = navbar close menu icon = = = */
    color: #fff;    
    font-weight: bold;
}

nav ul li:hover{    /* = = = list border hover effect = = = */ 
    border: 1px solid;
    border-radius: 5px;
    border-bottom: 3px solid var(--blue);
}

/* = = = Main content style = = = */

main{
    background-image: linear-gradient(#17202A, #6495ED);
    /* background: url(assets/header-background.jpg)  no-repeat 72% center/cover; */
    width: 100%;
    color: #fff;
    bottom: 0;
}